<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adjunct-System.Xml.Linq.Extensions" version="2.0.0" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="wp80" />
  <package id="PhonePerformance" version="1.2.1" targetFramework="wp80" />
  <package id="TweetSharp" version="2.3.1" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>